history_db = "/feeder/feeder.db"

[server]
listen_addr = "0.0.0.0:{{ feeder_port }}"
read_timeout = "20s"
verbose_cors = true
write_timeout = "20s"

[[deviation_thresholds]]
base = "USDT"
threshold = "2"

[[currency_pairs]]
base = "BTC"
quote = "USDT"
providers = ["binance", "bitget", "lbank", "mexc", "okx", "xt"]

[[currency_pairs]]
base = "ETH"
quote = "USDT"
providers = ["binance", "bitget", "lbank", "mexc", "okx", "xt"]

[[currency_pairs]]
base = "USDT"
quote = "USD"
providers = ["binanceus", "crypto", "gate", "kraken"]