gas_adjustment = 1.7
gas_prices = "0.00125ukuji"
enable_server = true
enable_voter = true

history_db = "/root/feeder.db"

[server]
listen_addr = "localhost:{{ feeder_port }}"
read_timeout = "20s"
verbose_cors = true
write_timeout = "20s"

[rpc]
rpc_timeout = "100ms"
{% if podman %}
grpc_endpoint = "127.0.0.1:{{ grpc_port }}"
tmrpc_endpoint = "http://127.0.0.1:{{ rpc_port }}"
{% else %}
grpc_endpoint = "{{ moniker | lower }}:{{ grpc_port }}"
tmrpc_endpoint = "http://{{ moniker | lower }}:{{ rpc_port }}"
{% endif %}

[account]
address = "{{ address }}"
chain_id = "{{ chain_id }}"
validator = "{{ valoper }}"
prefix = "kujira"

[keyring]
backend = "memory"
dir = "/root"

[[deviation_thresholds]]
base = "USDT"
threshold = "2"

[[currency_pairs]]
base = "BTC"
quote = "USDT"
providers = ["binance", "bitget", "lbank", "mexc", "okx", "xt"]

[[currency_pairs]]
base = "ETH"
quote = "USDT"
providers = ["binance", "bitget", "lbank", "mexc", "okx", "xt"]

[[currency_pairs]]
base = "USDT"
quote = "USD"
providers = ["binanceus", "crypto", "gate", "kraken", "osmosis"]