#!/bin/bash

cd $(dirname $0)

{% if podman -%}
podman pod rm --force pond
podman pod create --name pond{% for chain in chains %}{% for validator in chain.validators %} -p {{ validator.rpc_port }}:{{ validator.rpc_port }} -p {{ validator.api_port }}:{{ validator.api_port }}{% endfor %}{% endfor %}
{% else -%}
docker network rm pond
docker network create pond
{% endif -%}
{% for chain in chains -%}
{% for validator in chain.validators -%}
{% set rpc_port = validator.rpc_port %}
{% set api_port = validator.api_port %}
{% set name = validator.moniker | lower -%}
{% if podman %}
podman run --name {{ name }} -d --pod pond -v ./{{ name }}:/kujira teamkujira/kujirad:v0.9.0 kujirad --home /kujira start
{% else %}
docker rm {{ name }}
docker run -e USER=$UID -dp 127.0.0.1:{{ rpc_port }}:{{ rpc_port }} -p 127.0.0.1:{{ api_port }}:{{ api_port }} --network pond --name {{ name }} --network-alias {{ name }} -v ./{{ name }}:/kujira teamkujira/kujirad:v0.9.0 kujirad --home /kujira start
{% endif %}
{% endfor -%}
{% endfor %}
echo "waiting for chain(s) to start"
sleep 5

{% for chain in chains -%}
{% if chain.name == "Kujira" -%}
{% for index in range(chain.validators | length) -%}
{% set name = "feeder%02d" % (index + 1) -%}
{% if podman %}
podman run --name {{ name }} -d --pod pond -v ./{{ name }}:/feeder -e "PRICE_FEEDER_MNEMONIC={{ chain.validators[index].mnemonic }}" teamkujira/feeder:next
{% else %}
docker rm {{ name }}
docker run -e USER=$UID -d --network pond --network-alias {{ name }} --name {{ name }} -v ./{{ name }}:/feeder -e "PRICE_FEEDER_MNEMONIC={{ chain.validators[index].mnemonic }}" teamkujira/feeder:next
{% endif %}
{% endfor -%}
{% endif -%}
{% endfor %}
